* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-family: 'Courier Prime', monospace;
    margin: 10px;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
}

.container {
    margin: 100px auto;
    max-width: 640px;
    width: 100%;
    text-align: center;
    color: #00008b;
}

form {
    margin-top: 20px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #00008b;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #6495ED;
}
